matrix:
  include:
    - language: node_js
      before_install:
        - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
        - sudo apt-get update
        - sudo apt-get install -y gcc-5 g++-5
        - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 60 --slave /usr/bin/g++ g++ /usr/bin/g++-5
      node_js:
        - "8"
    - language: python
      python: 3.6
      before_install:
        - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
        - sudo apt-get update
        - sudo apt-get install -y gcc-5 g++-5
        - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 60 --slave /usr/bin/g++ g++ /usr/bin/g++-5
      install:
        - pip install .
      script:
        - python3 test/python/vrpc_local_test.py

notifications:
  email:
    - burkhard.heisen@xsmail.com
